    @font-face {
        font-family: pixel;
        src: url(https://xauki.com/lcd.ttf);
    }

    #scroller {
        background-color: #000;
        background-image: linear-gradient(white 2px, transparent 2px),
        linear-gradient(90deg, white 2px, transparent 2px),
        linear-gradient(rgba(248, 248, 248, 0.08) 1px, transparent 1px),
        linear-gradient(90deg, rgba(248, 248, 248, 0.08) 1px, transparent 1px);
        background-size: 100px 0px, 0px 100px, 5px 5px, 5px 5px;
        background-position: -2px -2px, -2px -2px, -1px -1px, -1px -1px;
        font-family: 'pixel';
    width: 99.2vw;
    margin-left: calc(50% - 50vw);
    }

    .scroll-left {
        height: 100%;
        border-color: rgba(255, 255, 255, 0.09);
        margin-top: -8px;

        height: 30px;
        overflow: hidden;
        position: relative;
     //        width: 1482px;

    }

    .scroll-left p {

        font-family: 'pixel';
        margin-top: 3px;
        color: #ffd300;
        font-size: 20px;
        vertical-align: middle;
        opacity: 0.85;

        position: absolute;
        width: 100%;
        height: 100%;
        margin: 0;
        white-space: nowrap;
        text-align: center;
        /* Starting position */
        -moz-transform: translateX(100%);
        -webkit-transform: translateX(100%);
        transform: translateX(100%);
        /* Apply animation to this element */
        animation: scroll-left 45s linear infinite;
    }
@media (max-width: 800px){
    .scroll-left p {

        animation: scroll-left 25s linear infinite;
}
}
@media (max-width: 500px){
    .scroll-left p {

        animation: scroll-left 14s linear infinite;
}
}

    /* Move it (define the animation) */

    @-moz-keyframes scroll-left {
        0% {
            -moz-transform: translateX(100%);
        }
        100% {
            -moz-transform: translateX(-100%);
        }
    }

    @-webkit-keyframes scroll-left {
        0% {
            -webkit-transform: translateX(100%);
        }
        100% {
            -webkit-transform: translateX(-100%);
        }
    }

    @keyframes scroll-left {
        0% {
            -moz-transform: translateX(100%);
            /* Browser bug fix */
            -webkit-transform: translateX(100%);
            /* Browser bug fix */
            transform: translateX(100%);
        }
        100% {
            -moz-transform: translateX(-100%);
            /* Browser bug fix */
            -webkit-transform: translateX(-100%);
            /* Browser bug fix */
            transform: translateX(-100%);
        }
    }

